<%- include('./partials/navbar.ejs'); %>

<div class="text-center">
	<h1>Add Some Tinnies</h1>
	<p>Bought a slab? Sick.</p>
</div>

<div id="alertHouse"></div>

<div class="row justify-content-center">
	<div>
		<input
			type="number"
			id="tinniesVal"
			class="form-control"
			placeholder="Slab?"
		/>
	</div>
	<button type="button" id="addTinnies" class="btn btn-outline-primary">
		Add Tinnies
	</button>
</div>
